/* ---RESET CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*------ IN COMMON ------*/
body {
    font-family: 'Oswald', sans-serif;
    background: #eee;
    height: 100%
}

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

.row {
    display: table;
    clear: both;
    width: 100%;
}

.footer, .push {
    text-align: center;
    width: 100%;
    height: 5em;
}

.img-responsive {
    width: 100%;
}

.row .box {
    margin-left: 10px;
}

.row div:first-child > .box {
    margin-left: 0;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.title {
    font-size: 60px;
    text-align: center;
    padding-top: 12%;
}

.subtitle {
    font-size: 30px;
    text-align: center;
    padding-top: 2%;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    display: table;
    width: 100%;
}

nav ul li {
    display: table-cell;
}

nav ul li a {
    display: block;
    padding: 15px;
    background: #ddd;
    color: #222;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

nav ul li a:hover {
    background: #999;
    border-bottom: 2px solid #222;
    box-shadow: 10px 10px 15px #ddd;
    color: #eee;
    transition: background 0.4s;
}

@media ( min-width: 300px) {
    .img-responsive {
        width: 100%;
        max-height: 60px;
    }
}

@media ( min-width: 360px) {
    .img-responsive {
        width: 100%;
        max-height: 80px;
    }
}

@media ( min-width: 800px) {
    .img-responsive {
        width: 100%;
        max-height: 170px;
    }
}

@media ( min-width: 900px) {
    .img-responsive {
        width: 100%;
        max-height: 200px;
    }
}

@media ( min-width: 1125px) {
    .img-responsive {
        width: 100%;
        max-height: 210px;
    }
}

@media ( min-width: 1360px) {
    .img-responsive {
        width: 100%;
        max-height: 250px;
    }
}

@media ( min-width: 1400px) {
    .img-responsive {
        width: 100%;
        max-height: 300px;
    }
}

/*------ FORMS ------*/
.application-form {
    padding-top: 10%;
    padding-bottom: 5%;
    background: none;
    text-align: center;
}

.application-form .radio_buttons, .inputs, .button {
    padding-top: 1%;
}

.application-form input[type="text"] {
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 6px 15px 6px 25px;
}

.application-form input[type="email"] {
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 6px 15px 6px 25px;
}

.application-form input[type="password"] {
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 6px 15px 6px 25px;
}

.application-form input[type="submit"] {
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 6px 5px 6px 5px;
}

/*------ Profile.php ------*/
.profile {
    width: 40%;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.user_profile {
    border: 1px solid #CED5D7;
    border-radius: 10px;
    padding: 45px 45px 20px;
    background-color: white;
}

.user_profile p {
    display: inline-block;
    font-weight: bold;
}

.user_profile div {
    padding-bottom: 15px;
}

.user_profile label {
    display: block;
    font-weight: bold;
}

.user_profile input[type="text"] {
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 6px 15px 6px 25px;
}

.user_profile input[type="submit"] {
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    padding: 6px 5px 6px 5px;
}

/*------ Reservations.php ------*/
.reservations {
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

.reservations ul {
    padding-left: 25%;
    padding-right: 25%;
}

.reservations li {
    font-size: 15px;
    line-height: 2;
}

.reservations-table {
    border: 1px solid #cbcbcb;
    width: 100%;
}

.reservations-table th {
    font-weight: bold;
}

#reservations_header_name {
    font-size: 20px;
}

.reservations-table-odd td {
    background-color: #ffffff;
}

.reservations-table td, th {
    border: 1px solid #cbcbcb;
    border-width: 5px 0 1px 0;
    border-bottom: 2px solid #cbcbcb;
}

.reservations-table tbody > tr:last-child > td {
    border-bottom-width: 0;
}